/**
  * HEADER
  * MAIN CONTENT
  * ITEMS
  * BUTTONS
  * BANNERS/IMAGES
  * GRIDS
  * FOOTER
  **/

:root {
  --primary-green: #81A632;
  --secondary-green: #ACBF84;
  --tertiary-green: #EBF2DC;
  --orange: #F2811D;
  --off-white: #F2F2F2;
  --off-black: #013220;
}

/***** HEADER *****/

header {
  background-color: var(--off-white);
  border-bottom: 1.5px solid var(--primary-green);
  width: 100%;
}

.top-bar {
  background-color: var(--orange);
  color: var(--off-white);
  text-align: center;
}

nav {
  align-items: center;
  color: var(--primary-green);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
	margin: 0 auto;
	padding: 10px 0 10px 0;
  width: 80%;
}

.nav-bar {
  float: right;
  width: 40%;
  align-items: center;
  justify-content: space-around;
  display: flex;
}

.nav-link {
  color: var(--primary-green);
	font-size: 18pt;
}

.cart-link {
	border-radius: 50%;
	border: solid 2px var(--primary-green);
}

.logo {
	margin: 0;
	padding: 0;
}

/***** MAIN CONTENT *****/

a {
	color: var(--primary-green);
	text-decoration: none;
}

body {
	height: 100%;
	background-color: var(--off-white);
	margin: 0;
	padding: 0;
}

div {
  margin: 0;
	padding: 0;
}

dt {
	color: var(--primary-green);
}

h1 {
  font-size: 48px;
  color: var(--primary-green);
}

h2 {
  color: var(--orange);
	font-size: 36px;
	margin: 30px 0;
	padding: 0;
}

h3 {
  color: var(--primary-green);
	font-size: 28px;
}

h4 {
  color: var(--orange);
  font-size: 18px;
}

p {
	color: var(--off-black);
}

#shop,
#featured, 
#recommended {
  margin: auto;
  max-width: 1000px;
  padding: 0 5%;
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
}

.shop-heading {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}

.featured-heading {
	text-align: center;
}

.featured-content {
  text-align: center;
}

.recommended-content {
  text-align: center;
}

.about-content {
	color: #013220;
	width: 80%;
	margin: 20px auto 60px;
}

.filter-menu {
  grid-column: 1;
  grid-row: 1 / span 2;
  height: 100%;
	background-image: linear-gradient(var(--tertiary-green) 40%, var(--off-white) 60%);
}

.top-filter {
  color: var(--off-black);
	padding: 60px 10px 10px 10%;
}

.filter-sub-menu {
  cursor: pointer;
  align-items: center;
  background-color: var(--tertiary-green);
  color: var(--off-black);
  display: flex;
  font-size: 20px;
  justify-content: space-between;
	padding: 15px 10%;
}

.filter-selection {
	display: flex;
  flex-wrap: wrap;
	text-align: left;
	padding: 0 50px;
}

/***** ITEMS *****/

.strawberry {
  background-color: #FC5A8D;
}

.blackberry {
  background-color: #4D0036;
}

.crazberry {
  	background-color: #950714;
}

.fire-orange {
  	background-color: #E38C2D;
}

.shop-item-preview {
  margin: auto;
	border-radius: 50%;
	height: 250px;
	width: 250px;
  overflow: hidden;
}

.item-browing-img {
  height: inherit;
  position: relative;
  transform: translateX(-30px);
}

.color-selection-preview {
	margin: 15px auto 5px auto;
}

.preview-color {
	display: inline-block;
	height: 30px;
	width: 40px;
}

.item-name-browsing {
	text-align: center;
	font-size: 24px;
	color: var(--primary-green);
	font-weight: bold;
	margin: 5px 0 3px 0;
}

.item-price-browsing {
	text-align: center;
	font-size: 20px;
	color: var(--off-black);
}

.item-price {
  text-align: center;
	color: var(--off-black);
	font-size: 24px;
  margin: 0;
}

.item-name {
  text-align: center;
	font-size: 42px;
	color: var(--primary-green);
	font-weight: 700;
  margin: 0;
}

.shop-item {
  text-align: center;
  margin: 40px 30px;
}

#item-page-info {
  align-self: flex-end;
  justify-content: center;
  padding-left: 5%;
}


#size-selections {
	color: var(--off-black);
	text-align: left;
  margin-bottom: 60px
}

.select-color {
	height: 40px;
	width: 60px;
  margin: 5px;
	border-radius: 6px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

#color-selection {
	color: var(--off-black);
	width: 80%;
	text-align: left;
  margin-top: 100px
}

.select-size {
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
	font-size: 16px;
	margin: 10px 5px;
	padding: 12px 24px;item
  background-color: var(--off-white);
}

.item-description {
  width: 500px;
  text-align: left;
  margin: 50px auto;
  padding: 0 40px 15px;
  box-shadow: 5px 5px 20px grey;
  border: 1.5px dotted var(--secondary-green);
  align-self: start;
}


.star {
	display: inline-block;
	font-size: 24px;
	color: var(--orange);
	margin: 10px 0 5px;
}

.all-reviews {
  text-align: center;
  color: var(--secondary-green);
	font-size: 22px;
	margin: 5px auto;
}

/***** BUTTONS *****/

button {
	cursor: pointer;
  border: none;     b
  background-color: none;
}

.button {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  background-color: var(--primary-green);
  color: var(--off-white);
  text-align: center;
  text-decoration: none;
	display: inline-block;
  font-size: 22px;
	cursor: pointer;
	margin: 35px auto;
	padding: 10px 40px;
}

.see-more {
	grid-column: 2/3;
	grid-row: 3;
}

/***** BANNERS/IMAGES *****/


.welcome {
	width: 100%;
	height: 50%;
	position: relative;
	padding-bottom: 56.25%;
}

.home-banner {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	border-bottom: 1.5px solid #81A632;
	background-image: url(Assets/Stock-Images/jorge-flores-98842-unsplash.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100% auto;
	margin: 0;
	padding: 0;
}

.about {
	width: 100%;
	height: 40%;
	position: relative;
	padding-top: 56.25%;
}

.about-banner {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	border-top: 1.5px solid #81A632;
	border-bottom: 1.5px solid #81A632;
	background-image: url(Assets/Stock-Images/kal-loftus-665678-unsplash.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100% auto;
	margin: 0;
	padding: 0;
}

.thumbnail-image {
	opacity: 0.6;
	height: 60px;
	width: 80px;
	background-color: grey;
	margin: 5px;
  background-image: url("Assets/Items/Dog-Harness/dog-harness-1.jpg");
  background-size: cover;
}

.thumbnail-image-wheel {
  display: flex;
  justify-content: center;
	text-align: center;
}


.selected {
    box-shadow: 0px 5px 20px grey;
    opacity: 1.0;
}

/***** GRIDS *****/

.shop-page {
	display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: 200px auto;
}

.item-page-content {
  padding: 100px 5% 0 5%;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: baseline;
}

.item-page-img {
	width: 500px;
}

.item-view {
  align-self: flex-start;
  text-align: center;
  flex-shrink: 1;
  padding-right: 5%;
}

/***** FOOTER *****/

footer {
  background-color: var(--tertiary-green);
  font-size: 18px;
  color: var(--primary-green);
	text-align: center;
	border-top: 1.5px solid var(--primary-green);
	padding: 30px;
  margin-top: 40px;
}

/***** NEW STYLES *****/
.add-to-cart {
  text-align: left;
}

.rating {
  text-align: center;
}

.filter-open {
  background-color: var(--primary-green);
  color: var(--off-white);
}

.filter-choices {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--off-white);
  color: var(--off-black);
  padding: 20px 20%;
}

.filter-choice {
  font-size: 18px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.clear {
  display: none;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 10px;
  background-color: var(--tertiary-green);
  border: 1px solid var(--off-black);
  color: var(--off-black);
  justify-content: space-between;
  margin: 0px 5px;
}

.selected-filter {
  margin-right: 40px;
}

#all {
  color: var(--off-white);
  background-color: var(--primary-green);
}
